*{
    margin: 0;
    padding: 0;
}

.open-sans-primary-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shear class */
.primary-color{
    color:#068d35;
}
.web-width{
    width: 90%;
    margin: 0 auto;
}
/* header scetion design start */
.header-section{
background-image: url(../media/Hero-bg.png);
height: 500px;
}
   nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    
}
.primary-button{
    background-color: #068d35;
    color: white;
    font-size: 18px;
    padding: 11px 40px;
    border: none;
    border-radius:5px;
    cursor: pointer;
}
.primary-button:hover{
    background-color: white;
    border: 1px solid #068d35;
    color: #068d35;
    transition: 0.5s;

}
.nav-titel{
    font-size: 40px;
}
/* hero section design start */
.hero-sec{
    text-align: center;
    width: 700px;  
    margin: 0px auto;
    margin-top: 150px;
}
.hero-tittle{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    color: rgb(15, 15, 15);
}
/* see it in action section design */
.action-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    gap: 150px;
}
.action-text-heading{
    font-size: 25px;
    margin-bottom: 10px;
    
}
.actiontext-para{
    font-size: 16px;
    margin-bottom: 15px;
    color: rgb(41, 40, 40);
}
.action-image img{
 border-radius: 20px;
 width: 350px;
 height: 300px;
}
/* productive section css */
.productive{
background-color: #E7F7E3;
border-radius: 20px;
text-align: center;
padding: 35px 0;
margin-bottom: 10px;
}
.productive_sec-header{
font-size: 23px;
padding-bottom: 30px;
color: rgb(1, 22, 2);
}
.users{
display: flex;
align-items: center;
justify-content: center;
gap: 100px;
padding-bottom: 10px;
}
.user h2{
font-size: 45px;
color: #068d35;
}
.user  p{
font-size: 14px;
color: rgb(41, 40, 40);
}
/* review-section design start */
.review-sce{
    margin: 70px auto;
    
}
.review-section-header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    
}
.reviev-content{
display: flex;
gap: 30px;
   
}
.reviev-container{
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
    padding: 15px;
    border-radius: 10px;
}
.container-heading{
    font-size: 20px;
    margin: 10px 0;
}
.container-text{
    font-size: 14px;
    margin-bottom: 15px;
}
.client{
    display: flex;
    gap: 10px;
}
.client-image img{
    border-radius: 50%;
}
.name{
    font-size: 15px;
    font-weight: 600;
}
.date{
    font-size: 13px;
    color: rgb(41, 40, 40);
}